/*  */
:root {
  --accent-color: #2196f3;
  --logo: #000000;
  --title-text-color: #212121;
  --text-color: #757575;
  --contrast-white-color: #ffffff;
  --contrast-text-color: rgba(255, 255, 255, 0.6);
  --button-bg: #f5f4fa;
  --bg-color-dark: #2f303a;
  --bg-color-light: #f5f4fa;
  --border-cards: #eeeeee;
  --header-border: #ececec;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
img {
  display: block;
  margin: 0px;
}
h1,
h2,
h3 {
  margin: 0px;
}
/* Utilites */
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.flexbox {
  display: flex;
}
.list {
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0px;
}
/* header links */
.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* header */
/* logo */
.logo-primary {
  display: inline-block;
  padding: 24px 0px 25px 0px;
  margin-right: 93px;
  /* outline: 2px solid tomato; */

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo);
}
.logo-accent {
  color: var(--accent-color);
}
.header {
  border: 1px solid var(--header-border);
}
.header .container {
  justify-content: flex-start;
  align-items: center;
}
.site-nav .list {
  align-items: center;
}
.site-nav .link {
  display: inline-block;
  padding: 32px 0px;
  color: var(--title-text-color);
}
.contacts {
  margin-left: auto;
}

.contacts .link {
  color: var(--text-color);
}

.site-nav .item:not(:last-child),
.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.contacts .link:hover,
.contacts .link:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  /* для красоты */
  height: 600px;
  padding-top: 200px;

  /* фон для видимости белого текста заголовка */
  background-color: var(--bg-color-dark);
}
.hero .container {
  max-width: 700px;
  /* flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  text-align: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--contrast-white-color);
}
.hero-button {
  display: block;
  /* max-width: 200px; */
  padding: 10px 32px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--contrast-white-color);

  background-color: var(--accent-color);
}
/* Особенности */
.features {
  padding: 94px 0px;
}
.features .list .item:not(:last-child) {
  margin-right: 30px;
}

.features .list .item {
  /* width: 270px; */
  flex-basis: calc((100% - 3 * 30px) / 4);
  /* width: calc((100% - 3*30px)/4; */
  text-align: left;
}

.features-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features p {
  margin: 0px;

  line-height: 1.71;

  color: var(--text-color);
}
/* Чем мы занимаемся */
.work {
  padding-bottom: 94px;
}
.work .list .item:not(:last-child) {
  margin-right: 30px;
}
.work .list .item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.work-title,
.team-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--title-text-color);
}
/* Наша команда */
.team {
  padding: 94px 0px;
  background-color: var(--bg-color-light);
}
.team .list {
  flex-wrap: wrap;
}
.team .list .item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin: 0px 30px 20px 0px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--contrast-white-color);
}
.team .list .item:nth-child(4n) {
  margin-right: 0px;
}
.team .list .item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}
/* .team-avatar {
  margin-bottom: 30px;
} */

.team-text {
  padding: 30px 0px;
}
.team-subtitle {
  margin-bottom: 10px;

  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--title-text-color);
}
.team p {
  margin: 0px;

  text-align: center;

  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}

/* Футер */
.footer {
  /* фон для видимости  текста заголовка */
  background-color: var(--bg-color-dark);
}
.footer .container {
  padding: 60px 0px;
}
.logo-secondary {
  display: inline-block;

  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--contrast-white-color);
}
.post {
  display: inline-block;
  margin-bottom: 9px;

  font-style: normal;
  line-height: 1.71;

  color: var(--contrast-white-color);
}
.footer .link {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;

  color: var(--contrast-text-color);
}

.footer .link:not(:last-child) {
  margin-bottom: 9px;
}

/* Страница Портфолио */
.portfolio {
  padding: 94px 0px;
}
/* Фильтр */
.filter {
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter {
  display: block;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--title-text-color);

  background-color: var(--bg-color-light);
  border-radius: 4px;

  border: 0px;
}
.portfolio-filter:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter:hover,
.portfolio-filter:focus,
.portfolio-filter:active {
  color: var(--contrast-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 0px;
}
.portfolio-filter:hover {
  cursor: pointer;
}
/* Результаты фильтра */
.portfolio .list {
  flex-wrap: wrap;
  box-sizing: border-box;
}

.portfolio .list .item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin: 0px 30px 30px 0px;
}
.portfolio .list .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio .list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-text {
  border: 1px solid var(--border-cards);
  padding: 20px 24px;

  text-align: left;
  border-top: 0px;
}

.portfolio h2 {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.portfolio p {
  margin: 0px;

  font-size: 16px;
  line-height: 1.87;

  color: var(--text-color);
}
